@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128&family=Ubuntu+Mono&family=Pacifico&display=swap');

html {
   height: 100%;
}

body {
   background-color: hsl(60,20%,8%);
   /*background-image: linear-gradient(-45deg, hsl(71,88%,73%) 0%, hsl(120,76%,70%) 31%, hsl(188,94%,65%) 53%, hsl(190,100%,64%) 70%, hsl(248,85%,68%) 90%);*/
   background-image: radial-gradient(circle at bottom, hsl(120,20%,30%), hsl(160,20%,50%));
   /*height: calc(100% - 50px);*/
   min-width: 850px;
   padding: 25px;
   margin: 0;
   background-repeat: no-repeat;
   background-attachment: fixed;
   color: white;
   display: flex;
   justify-content: center;
   font-size: 20px;
}

#main-col {
   width: 800px;
   padding: 25px;
   border-radius: 20px;
   background-color: hsla(60, 20%, 8%, 0.5);
}

header {
   font-size: 36px;
   text-align: center;
}

section {
   margin-top: 50px;
}

pre {
   font-family: Serif;
   margin: 0;
}

a {
   /*color: hsl(200,50%,50%);*/
   color: hsl(188, 62%, 45%);
   text-decoration: none;
}
a:visited {
   /*color: hsl(200,50%,50%);*/
   color: hsl(188, 62%, 45%);
   text-decoration: none;
}
a:active {
   filter: hue-rotate(60deg);
}

h2, label {
   color: yellow;
   font-weight: bold;
   font-size: 26px;
   margin-right: 10px;
}
label:after {
   content: ":";
}

#example-data {
   background-color: hsla(0, 0%, 0%, 0.15);
   padding: 8px;
   border-radius: 8px;
   font-family: monospace;
}

button {
   float: right;
   margin-top: 10px;
   margin-left: 10px;
   background: transparent;
   border-radius: 20px;
   border: none;
   outline: 1px solid white;
   color: yellow;
   font-weight: bold;
   font-size: 16px;
   padding: 5px;
   width: 100px;
   height: 30px;
}
button:hover, button:focus {
   cursor: pointer;
   background: hsla(0, 0%, 0%, 0.2);
}
button:active {
   outline: 1px solid hsl(248, 85%, 68%);
}

input, textarea {
   width: calc(100% - 20px);
   padding: 10px;
   border-radius: 8px;
   border: none;
   outline: 1px solid white;
   background: transparent;
   color: white;
   font-size: 20px;
   font-family: monospace;
   margin-top: 4px;
}
input:focus, textarea:focus, button:focus {
   /*outline: 1px solid hsl(248, 85%, 68%);*/
   outline: 1px solid hsl(260, 90%, 65%);
}

input {
   
}

textarea {
   display: block;
   height: 50px;
   resize: none;
   overflow-y: hidden;
}

#copy-button {
   /*position: absolute;*/
   /*transform: translateX(775px) translateY(-65px);*/
   position: relative;
   z-index: 1;
}
#copy-icon {
   width: 20px;
   position: relative;
   z-index: -1;
}

#barcode {
   font-family: 'Libre Barcode 128';
   font-size: 100px;
   text-align: center;
   background: white;
   color: black;
   padding-top: 30px;
   padding-bottom: 0;
}
#output {
   text-align: center;
}

footer {
   position: fixed;
   left: 0;
   top: calc(50vh - 100px);
   height: 200px;
   background-color: hsla(0,0%,0%,0.8);
   text-align: center;
   font-size: 20px;
   font-family: 'Pacifico', monospace;
   color: white;
   writing-mode: vertical-rl;
   transform: rotate(180deg);
}
footer > a {
   color: white !important;
}
footer > a:active {
   /*color: hsl(260,90%,65%) !important;*/
}
#home-icon {
   position: relative;
   z-index: -1;
   width: 30px;
   transform: rotate(90deg);
}